<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucar.training.dao.MenuDao">

    <resultMap id="MenuResultMap" type="com.ucar.training.entity.TMenu">
        <id column="mid" property="mid"/>
        <result column="menu_name" property="menuName"/>
        <result column="url" property="url"/>
    </resultMap>

    <insert id="insertMenu" parameterType="com.ucar.training.entity.TMenu">
        insert into t_menu(menu_name, url) values (#{menuName},#{url})
    </insert>

    <select id="selectAllMenu" resultMap="MenuResultMap">
        select * from t_menu
    </select>

    <select id="selectMenu" resultMap="MenuResultMap" parameterType="INTEGER">
        select * from t_menu where mid=#{menuID}
    </select>

    <delete id="delMenu" parameterType="INTEGER">
        delete from t_menu where mid=#{menuID};
        delete from role_menu where mid=#{menuID};
    </delete>

    <update id="updateMenu" parameterType="com.ucar.training.entity.TMenu">
        update t_menu
        set menu_name=#{menuName},url=#{url}
        where mid=#{mid}
    </update>
</mapper>