<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucar.training.dao.MessageDao">
    <resultMap id="messageMap" type="com.ucar.training.entity.UserMessage">
        <id column="id" property="messageID"/>
        <result column="username" property="username"/>
        <result column="messageTitle" property="messageTitle"/>
        <result column="messageContent" property="messageContent"/>
        <result column="create_time" property="messageTime"/>
    </resultMap>

    <select id="selectAllMessages" resultMap="messageMap">
        select id,username,messageTitle,messageContent,create_time from t_message
    </select>

    <delete id="delMessage" parameterType="INTEGER">
        delete from t_message
        where id=#{messageID}
    </delete>

    <insert id="addMessage" parameterType="com.ucar.training.entity.UserMessage">
        insert into t_message(username,messageTitle,messageContent)
        values (#{username},#{messageTitle},#{messageContent})
    </insert>
</mapper>